
:root {
  --dark-grey: #333333;
  --light-grey: #555;
  --border-grey: #CFCFCF;
}

* {
  font-family: Roboto;
  box-sizing: border-box;
}

body{
	background:blue;
}

.menu{
	background:#E0E0E0;
	border-top:1px solid var(--border-grey);
	width:70rem;
	margin:0 auto;
}
.menu__main{
	width:90%;
	margin:0 auto;
}

.menu__main__item{
	display: inline-block;
  	padding: 0.5rem 2rem;
	border-bottom: 1px solid var(--border-grey);
}

.menu__main__item:hover{
  background: white;
  border-bottom: 1px solid white;
  border-right: 1px solid var(--border-grey);
  border-left: 1px solid var(--border-grey);
  margin: 0 -1px;
}

.menu__main__item--current .menu__main__item__link{
	color:#333333;
	border-bottom: 2px solid #333;
	padding-bottom: 0.3rem;
}

.menu__main__item__link{
	text-decoration: none;
 	color: var(--light-grey);
	font-family:Roboto;
	font-size:0.9rem;
	font-weight:800;
}

.menu__main__item__link:hover{
	text-decoration: underline;
	color:#1c60BB;
}
.menu__sub{
	/*width: 40rem;*/
	height:18rem;
	background:white;
	display: none;
}
.menu__sub__categories{
	vertical-align: top;
	display:inline-block;
	width: calc(40% - 1rem - 2px);
	padding:0.5rem;
	margin-left:1rem;
}

.menu__sub__visual{
	display:inline-block;
	width:calc(60% - 2px);
	padding: 0.5rem;
	height:100%;
}

.menu__sub__visual__img{
	width:100%;
	height:100%;
}


.menu__sub__categories__category {
	display:inline-block;
	width: calc(50% - 2px);
	vertical-align: top
}
.menu__sub__categories__header{
	font-size:0.9rem;
	border-bottom:1px solid var(--border-grey);
	margin-right:1rem;
	padding-bottom:1rem;
}
.menu__sub__categories__items{
	padding:0;
}
.menu__sub__categories__item{
	list-style: none;

	font-size:0.9rem;
	line-height:1.4rem;
	color:var(--light-grey);
}

.menu__sub__categories__item__link{
	text-decoration: none;
	color: var(--light-grey);
	font-size:0.8rem;
	font-weight:800;
}

.menu__sub__categories__item__link:hover{
	text-decoration: underline;
}





